<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-security" role="menuitem"><a href="{{site.baseurl}}tag/security/">Security</a></li>
    <li class="nav-containers" role="menuitems"><a href="{{site.baseurl}}tag/containers/">Containers</a></li>
    <li class="nav-k8s" role="menuitems"><a href="{{site.baseurl}}tag/k8s/">K8s</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
</ul>
